<h1 style="text-align:  center;">Введение в анализ данных</h1>

<h1 style="text-align:center;">LAB1</h1>

Цель работы: осуществить предварительную обработку данных csv-файла, выявить и устранить проблемы в этих данных.

Содержит информацию о сердечных болезнях.
1.	возраст
2.	пол
3.	тип боли в груди (4 значения [TA: типичная стенокардия, ATA: атипичная стенокардия, NAP: неангинальная боль, ASY: бессимптомная])
4.	артериальное давление в покое
5.	холестерин сыворотки в мг/дл
6.	уровень сахара в крови натощак > 120 мг/дл
7.	ЭКГ в покое: результаты электрокардиограммы в покое норма: нормальная, ST: аномалия ST-T LVN: гипертрофия
8.	MaxHR: максимальная достигнутая частота сердечных сокращений [Числовое значение от 60 до 202]
9.	стенокардия, вызванная физической нагрузкой (да, нет)
10.	 oldpeak = депрессия ST, вызванная физической нагрузкой, по сравнению с состоянием покоя
11.	наклон пикового сегмента ST при нагрузке (Вверх: восходящий, Плоский: плоский, Вниз: нисходящий)
12.	 HeartDisease: выходной класс [1: болезнь сердца, 0: нормальный]

Загружаю датасет с помощью библиотеки Pandas и вывожу первые 20 строк.

In [10]:
import pandas as pd

heart_df = pd.read_csv('3heart.csv', sep=',')
pd.options.display.expand_frame_repr = False
print(heart_df.head(20))

    Age Sex ChestPainType  RestingBP Cholesterol  FastingBS RestingECG  MaxHR ExerciseAngina  Oldpeak ST_Slope  HeartDisease
0    40   M           ATA      140.0         289          0     Normal  172.0              N      0.0       Up             0
1    49   F           NAP      160.0         180          0     Normal  156.0              N      1.0     Flat             1
2    37   M           ATA      130.0         283          0         ST   98.0              N      0.0       Up             0
3    48   F           ASY      138.0         214          0     Normal  108.0              Y      1.5     Flat             1
4    54   M           NAP      150.0         195          0     Normal  122.0              N      0.0       Up             0
5    39   M           NAP      120.0         339          0     Normal  170.0              N      0.0       Up             0
6    45   F           ATA      130.0         237          0     Normal  170.0              N      0.0       Up             0
7    54   M           ATA      110.0         208          0     Normal  142.0              N      0.0       Up             0
8    37   M           ASY      140.0         207          0     Normal  130.0              Y      1.5     Flat             1
9    48   F           ATA      120.0         284          0     Normal  120.0              N      0.0       Up             0
10   37   F           NAP      130.0         211          0     Normal  142.0              N      0.0       Up             0
11   58   M           ATA      136.0         164          0         ST   99.0              Y      2.0     Flat             1
12   39   M           ATA      120.0         204          0     Normal  145.0              N      0.0       Up             0
13   49   M           ASY      140.0         234          0     Normal  140.0              Y      1.0     Flat             1
14   42   F           NAP      115.0         211          0         ST  137.0              N      0.0       Up             0
15   54   F           ATA      120.0         273          0     Normal  150.0              N      1.5     Flat             0
16   38   M           ASY      110.0         196          0     Normal  166.0              N      0.0     Flat             1
17   43   F           ATA        NaN         NaN          0     Normal  165.0              N      0.0       Up             0
18   60   M           ASY      100.0         248          0     Normal  125.0              N      1.0     Flat             1
19   36   M           ATA      120.0         267          0     Normal  160.0              N      3.0     Flat             1

Цель датасета увидеть зависимость наличия у людей болезни сердца от разных жизненных показательней: Возраста; Пола; Типа боли в груди; Артериального давления в покое; Холестерина сыворотки; Уровень сахара в крови натощак; ЭКГ в покое; Максимального сердечного ритма; Стенокардии; Старого пика; Наклона пикового сегмента ST при нагрузке.

С помощью методов .info и. columns попытаюсь оценить данные.

In [6]:
print(heart_df.info(), '\n')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 925 entries, 0 to 924
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Age             925 non-null    int64
 1   Sex             925 non-null    object
 2   ChestPainType   925 non-null    object
 3   RestingBP       923 non-null    float64
 4   Cholesterol     924 non-null    object
 5   FastingBS       925 non-null    int64
 6   RestingECG      924 non-null    object
 7   MaxHR           924 non-null    float64
 8   ExerciseAngina  925 non-null    object
 9   Oldpeak         925 non-null    float64
 10  ST_Slope        925 non-null    object
 11  HeartDisease    925 non-null    int64
dtypes: float64(3), int64(3), object(6)
memory usage: 86.8+ KB
None

In [7]:
print(heart_df.columns, '\n')

Index(['Age', 'Sex', 'ChestPainType', 'RestingBP', 'Cholesterol', 'FastingBS',
       'RestingECG', 'MaxHR', 'ExerciseAngina', 'Oldpeak', 'ST_Slope',
       'HeartDisease'],
      dtype='object')

Как видно из первых строк датафрейм состоит из 925 строк и 12 столбцов. Названия столбцов с точки зрения логики и грамматики соответствуют правильным. Так же из данных столбца Non-Null Count можно сделать вывод что 3,4,6,7 столбце датафрейма присутствуют некорректные значения. Типы данных для столбцов не требуют измениения, кроме Cholesterol, требуется заменить object на int64

Начал процесс формализации данных с удаления явных дубликатов посредством метода .drop_duplicates() и восстановил индексирование методом .reset_index(). Результат работы метода на рисунке 3.

In [11]:
print('Кол-во дубликатов: ', heart_df.duplicated().sum(), '\n')
print('Индексы строк дубликатов:')
for index, value in enumerate(heart_df.duplicated()):
    if value:
        print(index)
heart_df = heart_df.drop_duplicates()
print('Удаление дубликатов заершено', '\n')
print('Кол-во дубликатов: ', heart_df.duplicated().sum(), '\n')

Кол-во дубликатов:  3

Индексы строк дубликатов:
918
919
920
Удаление дубликатов заершено

Кол-во дубликатов:  0

После избавился от строк содержащих Na с помощью метода .dropna() и восстановил индексирование методом .reset_index().

In [12]:
print("Столбцы содержащие Na", '\n')
print(heart_df.isna().sum(), '\n')
heart_df = heart_df.dropna()
print("Удаление строк с Na завершено", '\n')
print(heart_df.isna().sum(), '\n')

heart_df.reset_index(drop=True, inplace=True)

Столбцы содержащие Na

Age               0
Sex               0
ChestPainType     0
RestingBP         2
Cholesterol       1
FastingBS         0
RestingECG        1
MaxHR             1
ExerciseAngina    0
Oldpeak           0
ST_Slope          0
HeartDisease      0
dtype: int64

Удаление строк с Na завершено

Age               0
Sex               0
ChestPainType     0
RestingBP         0
Cholesterol       0
FastingBS         0
RestingECG        0
MaxHR             0
ExerciseAngina    0
Oldpeak           0
ST_Slope          0
HeartDisease      0
dtype: int64

Поиск неявных дубликатов провел методом .unique() примененным к каждому столбцу. Ошибки были найдены в столбцах: Sex, значение может быть только M или F; RestingBP, не может быть 0 значения; Cholesterol, возможно только число; ST_Slope, значение может быть только Up, Down или Flat.

Исправлю некорректно написанные значения методом .replace().

In [13]:
for column in heart_df.columns:
    print('Уникальные значения поля', column, ': ', heart_df[column].unique())

heart_df["Sex"] = heart_df["Sex"].replace('Ma', 'M')
heart_df["RestingBP"] = heart_df["RestingBP"].replace('0', '100')
heart_df["Cholesterol"] = heart_df["Cholesterol"].replace('0', '200')
heart_df["Cholesterol"] = heart_df["Cholesterol"].replace('a241', '241')
heart_df["ST_Slope"] = heart_df["ST_Slope"].replace('UP', 'Up')
heart_df['Cholesterol'] = heart_df['Cholesterol'].astype('int64')

print('\n', "Редактироване ошибок завершено", '\n')

Уникальные значения поля Age :  [40 49 37 48 54 39 45 58 42 38 60 36 43 44 53 52 51 56 41 32 65 35 59 50
 47 31 46 57 55 63 66 34 33 61 29 62 28 30 74 68 72 64 69 67 73 70 77 75
 76 71]
Уникальные значения поля Sex :  ['M' 'F' 'Ma']
Уникальные значения поля ChestPainType :  ['ATA' 'NAP' 'ASY' 'TA']
Уникальные значения поля RestingBP :  [140. 160. 130. 138. 150. 120. 110. 136. 115. 100. 124. 113. 125. 145.
 112. 132. 118. 170. 142. 190. 135. 180. 108. 155. 128. 106.  92. 200.
 122.  98. 105. 133.  95.  80. 137. 185. 165. 126. 152. 116.   0. 144.
 154. 134. 104. 139. 131. 141. 178. 146. 158. 123. 102.  96. 143. 172.
 156. 114. 127. 101. 174.  94. 148. 117. 192. 129. 164.]
Уникальные значения поля Cholesterol :  ['289' '180' '283' '214' '195' '339' '237' '208' '207' '284' '211' '164'
 '204' '234' '273' '196' '248' '267' '223' '184' '201' '288' '209' '260'
 '468' '188' '518' '167' '224' '172' '186' '254' '306' '250' '177' '227'
 '230' '294' '264' '259' '175' '318' '216' '340' '233' '205' '245' '194'
 '270' '213' '365' '342' '253' '277' '202' '297' '225' '246' '412' '265'
 '215' '182' '218' '268' '163' '529' '100' '206' '238' '139' '263' '291'
 '229' '307' '210' '329' '147' '85' '269' '275' '179' '392' '466' '129'
 '241' '255' '276' '282' '338' '160' '156' '272' '240' '393' '161' '228'
 '292' '388' '166' '247' '331' '341' '243' '279' '198' '249' '168' '603'
 '159' '190' '185' '290' '212' '231' '222' '235' '320' '187' '266' '287'
 '404' '312' '251' '328' '285' '280' '192' '193' '308' '219' '257' '132'
 '226' '217' '303' '298' '256' '117' '295' '173' '315' '281' '309' '200'
 '336' '355' '326' '171' '491' '271' '274' '394' '221' '126' '305' '220'
 '242' '347' '344' '358' '169' '181' '0' '236' '203' '153' '316' '311'
 '252' '458' '384' '258' '349' '142' '197' '113' '261' '310' '232' '110'
 '123' '170' '369' '152' '244' '165' '337' '300' '333' '385' '322' '564'
 '239' '293' '407' '149' '199' '417' '178' '319' '354' '330' '302' '313'
 '141' '327' '304' '286' '360' '262' '325' '299' '409' '174' '183' '321'
 '353' '335' '278' '157' '176' '131' 'a241']
Уникальные значения поля FastingBS :  [0 1]
Уникальные значения поля RestingECG :  ['Normal' 'ST' 'LVH']
Уникальные значения поля MaxHR :  [172. 156.  98. 108. 122. 170. 142. 130. 120.  99. 145. 140. 137. 150.
 166. 125. 160. 164. 178. 112. 118. 127. 114. 154. 155.  87. 148. 100.
 168. 184. 121. 153. 134.  96. 174. 175. 144.  82. 135. 115. 128. 116.
 138. 165.  94. 110.  92. 180. 152. 124. 106. 185. 139. 190. 146. 158.
 132. 176. 119. 188. 162. 105.  90. 136. 167. 129. 102. 143. 103.  91.
 126.  93. 131. 149. 123. 182. 141.  77. 109. 133. 179. 113. 104.  95.
  72.  97. 117.  86.  63. 157.  83.  60.  70. 163.  67.  78.  84. 111.
  80. 107. 161.  69.  88.  73. 159. 151. 181. 186. 177. 173. 169. 171.
 147.  71. 192. 195. 194. 187. 202.]
Уникальные значения поля ExerciseAngina :  ['N' 'Y']
Уникальные значения поля Oldpeak :  [ 0.   1.   1.5  2.   3.   4.   0.5  2.5  5.   0.8  0.7  1.4  2.1  0.4
  0.2  1.7  2.2  0.1  1.6  1.3  0.3  1.8  2.6 -0.9  2.8 -2.6 -1.5 -0.1
  0.9  1.1  2.4 -1.  -1.1 -0.7 -0.8  3.7  1.2 -0.5 -2.   1.9  3.5  0.6
  3.1  2.3  3.4  3.6  4.2  3.2  5.6  3.8  2.9  6.2  4.4]
Уникальные значения поля ST_Slope :  ['Up' 'Flat' 'Down' 'UP']
Уникальные значения поля HeartDisease :  [0 1]

 Редактироване ошибок завершено

Составлю сводную таблицу методом pd.pivot_table() зависимости наклона пикового сегмента от среднего возраста и разделю значения по полу.

Напишу несколько группировок при помощи метода .groupby. Первая это группировка по полу и среднему артериальному давлению, вторая по типу боли и среднему холестерину, и артериальному давлению.

In [14]:
print(pd.pivot_table(heart_df, index='Sex', columns='ST_Slope', values='Age', aggfunc='mean'), '\n')

agg_func_mean = {'RestingBP': ['mean']}
print(heart_df.groupby(['Sex']).agg(agg_func_mean).round(2), '\n')

agg_func_mean = {'Cholesterol': ['mean'], 'RestingBP': ['mean']}
print(heart_df.groupby(['ChestPainType']).agg(agg_func_mean).round(2), '\n')
print('\n')

ST_Slope       Down       Flat         Up
Sex
F         59.714286  54.618421  50.690909
M         58.142857  55.387013  50.802817

    RestingBP
         mean
Sex
F      132.32
M      132.45

              Cholesterol RestingBP
                     mean      mean
ChestPainType
ASY                237.46    133.24
ATA                241.25    130.68
NAP                231.01    130.97
TA                 228.80    136.41

<h3>Вывод</h3>

<pharagraph>
    Расширил познания в библиотеке Pandas. Научился редактировать данные, находить и удалять дубликаты, искать уникальные значения, с помощью которых возможна последующая формализация данных – осуществлять предварительную обработку данных.
Узнал о сводных таблицах библиотеки Pandas и методе группировки данных groupby. 
</pharagraph>